body {
    background: #3b4c66;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vh;
    border: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #3c4d67;
    border: none;
}

.employeeCreateEditMovies {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 350px;
    background-color: #fbfafa;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;

}

input {
    width: 95%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
    background-color: #4e4848;
    color: white;
}

.show-movies-table, th, td {
    border: 0.25vh solid black;
    border-collapse: collapse;
    width: 80%;
    table-layout: fixed;
}

.show-movies-table tr:nth-child(even) {
    background-color: #fcfcfc;
}

.show-movies-table tr:nth-child(odd) {
    background-color: #b2b2b2;
}

th {
    background-color: #556b8d;
}

td{
    text-align: center;
    word-break: break-word;
}

td button  {
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

.td__buttonTd   {
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

.showMoviesTableDiv {
    display: flex;
    justify-content: center;
}

input:focus {
    border-color: #4e4848;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #6089b1, #0f68af);
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #6089b1, #0f68af);
    transform: scale(1.05);
}

label {
    font-weight: 600;
    color: black;
    font-size: 14px;
}

#menuContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 40%;
    background-color: transparent;
    color: white;
    border-radius: 12px;

}

.menuButton {
    font-family: 'Montserrat', sans-serif;
    background: #393b3e;
    color: white;
    width: 100%;
    padding: 12px;
    font-size: 30px;
    border: none;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;

}
.menuButton:hover {
    background: #403d3d;
}

#showMovies, #showMovieScreening, #showBookings{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #393b3e;
    color: white;
    width: 96%;
    padding: 12px;
    font-size: 30px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}
#showMovies:hover, #showMovieScreening:hover, #showBookings:hover {
    background-color: #403d3d;
    transform: scale(1.05);
}


.closeButton {
    position: absolute;
    top: -5px;
    right: -180px;
    font-size: 24px;
    cursor: pointer;
    color: black;
    background-color: transparent;
    background: none;
}

.closeButton:hover {
    color: red;
    background: none;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #4e4848;
    border-radius: 5px;
    background-color: #4e4848;
    color: white;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


select:hover {
    border-color: #3b4c66;
}
select:focus {
    outline: none;
    border-color: #6089b1;
    box-shadow: 0 0 5px rgba(72, 162, 66, 0.5);
}


option {
    background-color: #4e4848;
    color: white;
    padding: 10px;
    font-size: 16px;
}

option:hover {
    background-color: #3b4c66;
}

.burger-menu {
    width: 3%;
    position: fixed;
    top: 10px;
    left: 10px;
    background: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    z-index: 1000;
}

.burger-menu:hover {
    background: none;
    transform: scale(1.10);
}

.burger-menu i {
    font-size: 50px;
}

.pop-up{
    position: fixed;
    top: -100px;
    left: -100px;
    background: #393b3e;
    width: 20%;
    height: 40%;
    border-radius: 50%;
}

.logOutButton {
    position: absolute;
    bottom: 35%;
    left: 40%;
    background: #3c4d67;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
    cursor: pointer;
    width: 80%;
    text-align: center;
}


.logOutButton:hover {
    background: #3c4d67;
    transform: scale(1.05);
}