. {
}
body {
    font-family: 'Montserrat', sans-serif;
}

.main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(to right, #6089b1, #0f68af);
    }


.employeeCreateEditMovies {
    display: flex;
    flex-direction: column;
    gap: 15px; /* More space between elements */
    padding: 20px;
    width: 350px;
    background-color: #fbfafa;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
input {
    width: 95%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
    background-color: #4e4848;
    color: white;
}

input:focus {
    border-color: #4e4848; /* Changes color when focused */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #6089b1, #0f68af);
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #6089b1, #0f68af);
    transform: scale(1.05);
}
label {
    font-weight: 600;
    color: black;
    font-size: 14px;
}